@import "../../styles/base/base";
@import "../../styles/base/settings";

.menu {
  cursor: pointer;
  width: 266px;
  height: 266px;
  background: transparent linear-gradient(180deg, #e9f1fa 0%, #ffffff 150%) 0%
    0% no-repeat padding-box;
  margin-top: 5px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 10px 10px 20px -5px #cccccc;
  margin-left: 20px;
}

.mytext {
  position: relative;
  top: -30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mytext1 {
  position: relative;
  color: #d84a4a;
  font-family: Poppins;
  font-size: 30px;
  left: 5px;
}

.mytext2 {
  position: relative;
  font-family: Monster Clubhouse;
  font-size: 30px;
  color: #d84a4a;
  left: -5px;
}

.plate {
  position: relative;
  top: -30px;
  // left: -2px;
}

.number {
  font-size: 25px;
  position: relative;
  color: $dark-grey;
}

.mostar {
  position: relative;
  opacity: 0;
  top: -120px;
}

.score {
  display: flex;
  justify-content: space-around;
  //  padding: 15px;
}
.punatje {
  display: flex;
  position: relative;
  top: -20px;
}

.like {
  width: 19px;
  position: relative;
  top: -20px;
}

.star {
  width: 24px;
  position: relative;
  left: -25px;
}

.carrusel {
  display: flex;
  justify-content: space-between;
  // margin: 0px;
  // height: auto;
  margin-left: 100px;
  margin-right: 100px;
}

.textCard1 {
  top: -20px;
  font-family: Monster Clubhouse;
  font-size: 20px;
  color: $text-red;
}

.textCard2 {
  top: -20px;
  font-family: Poppins;
  font-size: 20px;
  color: $dark-grey;
}

.menu:hover {
  transition: 0.2s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color,
    0.2s visibility;
  height: 400px;
  .mytext1 {
    opacity: 0;
  }
  .score {
    opacity: 0;
  }
  .mytext2 {
    opacity: 0;
  }
  .mostar {
    opacity: 1;
  }
}

.menu:not(:hover) {
  transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color,
    0.6s visibility;
}




@media (max-width: 428px) {
 
  .menu{
    width:179px ;
    height: 182px;
    margin-left: 0px;
    margin-right: 0px;
    margin: 10px;
  }

  .card3{
    display: none;
  }
  .card4{
    display: none;
  }

  .plate{
    width: 110px;
    height: 106px;
  }
  .mytext1{
    font-size: 20px;
  }
  .mytext2{
    font-size: 20px;
  }

  .carrusel{
    margin-left: 0px;
    margin-right: 0px;
  }
  .mytext1{
    margin-right: 10px;
  }



}
